body {background-color: #6ed67c;}
#nav-table {width: 800px;}
#home-title {color: #de67da;}
#home-title {background-color: #9aeff5;} 

#about-title {color: #a45c72;}
#about-body {background-image: url('https://github.com/Sandandsea311/CSC-week-1/blob/main/img/betterbackground.jpg?raw=true');}
#banner-photo {width: 200px;}
