body {background-color: #6ed67c;}
#nav-table {width: 800px;}
#home-title {color: #de67da;}
#home-title {background-color: #9aeff5;} 
#home-title {width: 800px;}
#about-title {color: #e2f76f;}
#about-title {background-color: #f26962}
#about-title {width: 800px;} 
